/* font-family: "Acme", sans-serif; 
font-family: "Akaya Kanadaka", cursive; */
:root {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.navbar{
    background: #333;
}

.bi-list{
    font-size: 2rem;
}

/* Estilos para el menu de nav */
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #ccd;
}

.logo:hover{
    font-weight: 700;
}

.item-link{
    text-decoration: none;
    color: white;
    font-family: "Akaya Kanadaka", cursive;
}

.item-link:hover{
    border-bottom: 5px solid #004D40;
}

/* Estilos img header */
.header{
    height: 52vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: url(/public/assets/img/c3.jpg) center/cover;
    position: relative;
}

.marco{
    height: min(calc(30vw + .5rem), 100rem);
    width: min(calc(30vw + .5rem), 100rem);
    min-height: 15rem;
    min-width: 15rem;
    border-radius: 50%;
    position: relative;
}

.imgPerfil{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.imgPerfil:hover{
    box-shadow: 0px 0px 54px 5px rgba(255,255,255,0.75);
}

.descripcion{
    color: #ffff;
    font-size: min(calc(2vw + .5rem), 4rem);
    font-weight: 500;
    text-shadow: 20px 20px 40px black;
    position: relative;
}

.tituloPrincipal{
    color: #ffff;
    font-size: min(calc(3vw + .5rem), 4rem);
    font-weight: 700;
    text-shadow: 10px 10px 20px black; 
}

.contenedorIconos{
    width: 100%;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    list-style: none;
    position: absolute;
    bottom: 0;
    background-color: #ccd;
    opacity: .60;
}

.item-icono{
    color: black;
}

.item-icono:hover{
    font-size: 2.5rem;
    opacity: 1;
}

/* Estilos main */


/* Estilos proyectos */
.img-proyecto{
    height: 20rem;
}

/* Redes */

.redes{
    height: 4rem;
    background-color: #ccd;
    text-align: center;
}

.redes i{
    font-size: 2.5rem;
    color: #1A1A2E;
    padding: 1rem;
    opacity: .60;
}

.redes a:hover i{
    font-size: 3rem;
    padding: .5rem;
    opacity: 1;
    transition: 0.2s;
}

/* formulario */
form {
    background-color: #333;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }
  
input[type="submit"] {
    background-color: #006655;
    color: #fff;
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
input[type="submit"]:hover {
    background-color: #004D40;
  }

/* Copyright */
.copy{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    background: #333;
    position: absolute;
    color: #ccd;
}

.copy a{
    text-decoration: none;
    color: #ccd;
    font-weight: 500;
}

.copy a:hover{
    font-weight: 600;
}